body {
    color: #333;
    font-family: 'Open Sans',sans-serif;
}


#author img {
    width: 48px;
    height: 48px;
}

.book-info {
    padding-bottom: 10px;
}

.book-info h3 {
    border-bottom: 1px solid #ccc;
}

.book-info li {
    list-style: none;
}
