extends layout

block head
  title I am About page

block body
  .container
    .jumbotron
      h1 Hello, Indonesia!
      p This is a Hank to create a simple page to introduce.
      p
        a.btn.btn-primary.btn-lg Learn more
