extends layout

block head
  title Booklog

block neck
  link(rel='stylesheet', href="public/css/mycss.css")

block body
  .container
    .row
      .col-md-12
        h1.page-header Title
        .col-md-8
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque quo similique eos a excepturi quisquam perspiciatis odit dolorem itaque provident. Harum, quasi, incidunt officiis dicta iste ut dolorem rerum expedita!
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, pariatur mollitia culpa necessitatibus odit impedit quas velit nemo labore explicabo corporis in architecto deserunt nulla libero dignissimos excepturi tenetur repellendus.
        .col-md-4
          .well.sidebar-nav
            ul
              li My Link
              li link2
              li link3
