body {
  color: #333333;
  font-family: "Open Sans", sans-serif; }

#author img {
  width: 96px;
  height: 96px; }

.book-info {
  padding-bottom: 10px; }
  .book-info h3 {
    border-bottom: 1px solid #cccccc; }
  .book-info li {
    list-style: none; }
